@font-face {
  font-family: "anka";
  src: local("anka-coder"),
    url("./fonts/anka-coder.ttf") format("truetype");
}

@font-face {
  font-family: "IBM";
  src: local("Inter"),
    url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains";
  src: local("JetBrainsMono"),
    url("./fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

body {
  background-color: #0A192F;
}


h1 {
  color: #CCD6F6;
  font-size: 61px;
  font-family: "JetBrains";
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  color: #8892B0;
  font-size: 33px;
  font-family: "JetBrains";
  margin-top: -10px;
  margin-bottom: 0px;
}

h3,
.intro--typing-text {
  color: #64FFDA;
  font-family: "anka";
  font-size: 21px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cyan {
  color: #64FFDA;
}

.intro {
  margin-left: 20%;
  margin-top: 10%;
}

.intro--text {
  margin-top: 10px;
  max-width: 550px;
  font-size: 13px;
}

p {
  color: #8892B0;
  font-family: "JetBrains";
}

.header {
  display: flex;
  height: 70px;
}

.header--list {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-right: 40px;
  list-style: none;
}

.header--item {
  margin-left: auto;
  margin-right: 50px;
  font-family: "anka";
  color: #64FFDA;
}