@font-face {
  font-family: "anka";
  src: local("anka-coder"),
    url("./fonts/anka-coder.ttf") format("truetype");
}

@font-face {
  font-family: "IBM";
  src: local("Inter"),
    url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains";
  src: local("JetBrainsMono"),
    url("./fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  width: 100%;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  width: 140px;
  height: 100%;
  background-color: #0A192F;
  margin-top: 10%;
}

body {
  background-color: #0A192F;
}


h1 {
  color: #CCD6F6;
  font-size: 61px;
  font-family: "JetBrains";
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  color: #8892B0;
  font-size: 33px;
  font-family: "JetBrains";
  margin-top: -10px;
  margin-bottom: 0px;
}

h4 {
  color: #8892B0;
  font-size: 19px;
  font-family: "JetBrains";
  white-space: nowrap;
}

h3,
.intro--typing-text {
  color: #64FFDA;
  font-family: "anka";
  font-size: 21px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cyan {
  color: #64FFDA;
}

.customed-ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

.customed-li {
  line-height: 150%;
  font-size: 13px;
  color: #8892B0;
  font-family: "JetBrains";
}

.customed-li::before {
  content: "";
  border-color: transparent #64FFDA;
  border-style: solid;
  border-width: 0.45em 0 0.45em 0.55em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}

.intro {
  margin-left: 15%;
  margin-top: 10%;
}

.intro--text {
  margin-top: 10px;
  max-width: 550px;
  font-size: 13px;
}

p {
  color: #8892B0;
  font-family: "JetBrains";
}

.header {
  display: flex;
  height: 70px;
}

.header--list {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-right: 40px;
}

.header--item {
  margin-left: auto;
  margin-right: 50px;
  font-family: "anka";
  color: #64FFDA;
  font-size: 16px;
  height: 30px;
  text-decoration: none;
}

.header--button {
  background-color: #0A192F;
  height: 40px;
  width: 160px;
  font-family: "anka";
  color: #64FFDA;
  font-size: 16px;
  margin-top: -5px;
  border-color: #64FFDA;
  border-width: 2px;
  border-style: solid;
}

.header--button:hover {
  background-color: rgba(100, 255, 219, 0.4);
  cursor: pointer;
}

.header--item {
  position: relative;
  color: #64FFDA;
  text-decoration: none;
}

.header--item:hover {
  color: #64FFDA;
}

.header--item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #64FFDA;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.header--item:hover::before {
  transform: scaleX(1);
}


.sidebar {
  display: block;
}

.sidebar--list {
  width: 100%;
}

.sidebar--item {
  margin-left: auto;
  margin-top: 17px;
}

.vl {
  margin-left: 57px;
  width: 1px;
  border-left: 2px solid #CCD6F6;
  height: 100%;
}

.sidebar--git {
  width: 30px;
  height: 30px;
  margin-left: 4px;
}

.sidebar--git:hover {
  stroke: #64FFDA;
}

.sidebar--in {
  width: 23px;
  margin-left: 8px;
  margin-bottom: 7px;
}

.sidebar--in:hover {
  stroke: #64FFDA;
}

.section-about {
  display: flex;
  margin-left: 17%;
  margin-top: 10%;
}

.section-projects {
  margin-left: 17%;
  margin-top: 10%;
}

.section-about--content,
.section-projects--content {
  width: 50%;
}

.section-projects--content {
  display: flex;
}

.section--about--illustration--container {
  position: relative;
}

.section--about--illustration--image {
  width: 270px;
  position: absolute;
  margin-top: 70px;
  margin-left: 60px;
  border-radius: 5px;
}

.section--about--illustration--overlay {
  background: #64FFDA;
  width: 270px;
  height: 270px;
  margin-top: 70px;
  margin-left: 60px;
  opacity: 0.4;
  position: absolute;
  border-radius: 5px;
}

.section--about--illustration--overlay:hover {
  opacity: 0;
}


.section--about--illustration--frame {
  border: #64FFDA;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  width: 270px;
  height: 270px;
  margin-top: 90px;
  margin-left: 80px;
  position: absolute;
  border-radius: 5px;
}

.section-about--text {
  line-height: 150%;
  font-size: 13px;
}

.section--line {
  margin-top: 10px;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: 20px;
  width: 100%;
  height: 2px;
  background-color: #8892B0;
}

.section-about--title,
.section-projects--title {
  display: flex;
  width: 100%;
}

.section-about--skills {
  display: flex;
  margin-left: 20px;
  width: 100%;
}

.section-about--skills--list {
  width: 40%;
  margin-left: 10%;
}

.section-projects--projects {
  display: grid;
  width: 75%;
  grid-template-columns: 253px 253px 253px;
}

.section-projects--projects--cards {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 15px;
  background-color: #112240;
  padding: 20px;
  border-radius: 5px;
}

.section-projects--projects--cards--description {
  font-size: 11px;
}

.section-projects--projects--cards--title {
  font-size: 19px;
  color: #CCD6F6;
  font-family: "JetBrains";
}

.section-projects--container {
  width: 100%;
  height: auto;
}

.top-card {
  display: flex;
}

.card--git {
  width: 27px;
  height: 27px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 4px;

}

.section-about--button {
  background-color: #0A192F;
  height: 50px;
  width: 260px;
  font-family: "anka";
  color: #64FFDA;
  font-size: 16px;
  border-color: #64FFDA;
  border-width: 2px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.section-about--button--link {
  height: 50px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.section-about--button:hover {
  background-color: rgba(100, 255, 219, 0.4);
  cursor: pointer;
}

.section-projects--button-container {
  display: flex;
  margin-top: 50px;
  width: 70%;
}